#logoutBttn {
    float: right;
    padding: 10px 20px;
    background-color: rgb(219, 50, 50);
    font-weight: bold;
    color: whitesmoke;
}

#newTicket {
    padding: 10px 20px;
    background-color: rgb(50, 61, 219);
    font-weight: bold;
    color: whitesmoke;
}

.trackers {
    margin: 2% 0 2% 0;
    padding-bottom: 25px;
}

.trackers h1 {
    text-align: center;
}

.trackers a {
    color:  #984caf;
}

#header {
    display: flex;

}

#home {
    padding-top: .5%;
    margin-right: 10px;
}

#top-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#ticket-id {
    padding: 1.5% 15px;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

#ticket-body {
    display: flex;
    padding: 2%;
}

.border-shading {
    border: 2px solid lightslategray;
    box-shadow: 10px 10px 5px #88888842;
}

.ticket {
    padding: 2%;
    margin: 3% auto 0 auto;
    width: 75%;
}

#assign {
    text-align: center;
    margin-bottom: 20px;
}

/* W3Schools styling for form */
.form-build input, .form-build textarea{
    width: 100%;
}

.form-build {
    padding: 2%;
    width: 75%;
    margin: 2% auto 0 auto;
}

input[type=text], input[type=password], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #984caf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8645a0;
  }

/* Drop down button from W3Schools */
.drop-button {
    background-color: #984caf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .drop-button {background-color: #8645a0;}

#logoutBttn:hover {
    cursor: pointer;
    background-color: darkred;
}

#newTicket:hover {
    cursor: pointer;
    background-color: darkblue;
}

option {
    text-align: center;
    padding: .2%;
}

body {
    margin: 1.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 10%;
}

table {
    border-collapse: collapse;
  }
  tr { 
    border: solid;
    border-width: 1px 0;
}

td{
    padding: 5px 0 5px 0;
}

tr:first-child {
    border-top: none;
  }
  tr:last-child {
    border-bottom: none;
  }