#logoutBttn {
    float: right;
    padding: .5% 1.5%;
    background-color: rgb(219, 50, 50);
    font-weight: bold;
    color: whitesmoke;
}

#newTicket {
    padding: .5% 1.5%;
    background-color: rgb(50, 61, 219);
    font-weight: bold;
    color: whitesmoke;
}

.trackers h1 {
    text-align: center;
}

body {
    margin: 1.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 10%;
}