{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{%  static  '/style.css'  %}" />
  </head>

  <body>
    <span>Home </span><a href='create_ticket/'><button id='newTicket'>Submit New Ticket</button></a> <a href="/logout/"><button id='logoutBttn'>Logout</button></a>
    <div class='trackers  border-shading'>
        <h1>New Tickets</h1>
        <table style="width:100%">
            <tr>
                <th>#</th>
                <th style='padding-left: 5%; text-align: left;'>Title</th>
                <th>Assigned To</th>
                <th>Reported By</th>
                <th>Ticket Age</th>
            </tr>
            {% if new %}
            {% for field in new %}
            <tr>
                <td style='text-align: center;'>
                    {{ field.id }}
                </td>
                <td style='padding-left: 5%;'>
                    <a href="/ticket/{{ field.id }}/">{{ field.title }}</a>
                </td>
                <td style='text-align: center;'>
                    {% if field.assigned_user %}
                        <a href='/user/{{field.assigned_user.id}}/'>{{ field.assigned_user }}</a>
                    {% endif %}
                </td>
                <td style='text-align: center;'>
                    <a href='/user/{{ field.filed_user.id }}/'>{{ field.filed_user }}</a>
                </td>
                <td style='text-align: center;'>
                    {{ field.date_diff }} day(s)
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td><b>None</b></td>
                </tr>
            {% endif %}
           </table>
    </div>

    <div class='trackers  border-shading'>
        <h1>In Progress Tickets</h1>
        <table style="width:100%">
            <tr>
                <th>#</th>
                <th style='padding-left: 5%; text-align: left;'>Title</th>
                <th>Assigned To</th>
                <th>Reported By</th>
                <th>Ticket Age</th>
            </tr>
            {% if progress %}
            {% for field in progress %}
            <tr>
                <td style='text-align: center;'>
                    {{ field.id }}
                </td>
                <td style='padding-left: 5%;'>
                    <a href="/ticket/{{ field.id }}/">{{ field.title }}</a>
                </td>
                <td style='text-align: center;'>
                    {% if field.assigned_user %}
                        <a href='/user/{{field.assigned_user.id}}/'>{{ field.assigned_user }}</a>
                    {% endif %}
                </td>
                <td style='text-align: center;'>
                    <a href='/user/{{ field.filed_user.id }}/'>{{ field.filed_user }}</a>
                </td>
                <td style='text-align: center;'>
                    {{ field.date_diff }} day(s)
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td><b>None</b></td>
                </tr>
            {% endif %}
           </table>
    </div>

    <div class='trackers  border-shading'>
        <h1>Completed Tickets</h1>
        <table style="width:100%">
            <tr>
                <th>#</th>
                <th style='padding-left: 5%; text-align: left;'>Title</th>
                <th>Assigned To</th>
                <th>Reported By</th>
                <th>Ticket Age</th>
            </tr>
            {% if done %}
            {% for field in done %}
            <tr>
                <td style='text-align: center;'>
                    {{ field.id }}
                </td>
                <td style='padding-left: 5%;'>
                    <a href="/ticket/{{ field.id }}/">{{ field.title }}</a>
                </td>
                <td style='text-align: center;'>
                    {% if field.assigned_user %}
                        <a href='/user/{{field.assigned_user.id}}/'>{{ field.assigned_user }}</a>
                    {% endif %}
                </td>
                <td style='text-align: center;'>
                    <a href='/user/{{ field.filed_user.id }}/'>{{ field.filed_user }}</a>
                </td>
                <td style='text-align: center;'>
                    {{ field.date_diff }} day(s)
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td><b>None</b></td>
                </tr>
            {% endif %}
           </table>
    </div>

    <div class='trackers border-shading'>
        <h1>Invalid Tickets</h1>
        <table style="width:100%">
            <tr>
                <th>#</th>
                <th style='padding-left: 5%; text-align: left;'>Title</th>
                <th>Assigned To</th>
                <th>Reported By</th>
                <th>Ticket Age</th>
            </tr>
            {% if invalid %}
            {% for field in invalid %}
            <tr>
                <td style='text-align: center;'>
                    {{ field.id }}
                </td>
                <td style='padding-left: 5%;'>
                    <a href="/ticket/{{ field.id }}/">{{ field.title }}</a>
                </td>
                <td style='text-align: center;'>
                    {% if field.assigned_user %}
                        <a href='/user/{{field.assigned_user.id}}/'>{{ field.assigned_user }}</a>
                    {% endif %}
                </td>
                <td style='text-align: center;'>
                    <a href='/user/{{ field.filed_user.id }}/'>{{ field.filed_user }}</a>
                </td>
                <td style='text-align: center;'>
                    {{ field.date_diff }} day(s)
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td><b>None</b></td>
                </tr>
            {% endif %}
           </table>
    </div>
</body>
</html>